.conditions {
  display: flex;
  flex-direction: column;
  padding: 0 0 35px 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 0;
  }
}

.conditions__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;

  & br {
    display: none;
  }

  @media (max-width: $mobile-only-width) {
    margin: 26px 0 0 0;
    padding: 0 20px 0 69px;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 33.33%;
    padding: 0 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 46px;
  }

  &--house {
    @media (max-width: $mobile-only-width) {
      margin: 35px 0 0 0;
    }
  }

  &--souvenirs {
    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      & br {
        display: inline-block;
      }
    }
  }

  &--food {
    @media (min-width: $tablet-width) {
      padding: 0 50px;
    }
  }
}

.conditions__icon {
  position: absolute;
  top: -10px;
  left: 21px;
  width: 39px;
  height: 37px;

  @media (min-width: $tablet-width) {
    position: static;
    align-self: center;
    margin: 0 0 26px 0;
    width: 75px;
    height: 72px;
  }

  &--gift {
    top: -11px;
    left: 25px;
    width: 32px;
    height: 38px;

    @media (min-width: $tablet-width) {
      margin: -3px 1px 27px 0;
      width: 64px;
      height: 75px;
    }
  }

  &--burger {
    top: -5px;
    left: 18px;
    width: 40px;
    height: 35px;

    @media (min-width: $tablet-width) {
      margin: 3px 0 27px 0;
      width: 76px;
      height: 68px;
    }
  }
}

.conditions__subtitle,
.conditions__text {
  text-transform: uppercase;
}

.conditions__subtitle {
  @include text(18px, 26px, $black, 700);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.conditions__text {
  margin: 16px 0 0 0;

  @include text(14px, 21px, $black);

  @media (min-width: $tablet-width) {
    margin: 23px 0 0 0;
  }
}
