.index-page__title {
  padding: 0 20px;
  margin: 32px 0 22px 0;

  @media (min-width: $tablet-width) {
    margin: 43.5px 0 22px 0;

    & br:first-of-type {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 55px 0 22px 0;
  }
}
