.reasons__title {
  padding: 0 20px 11px 20px;
  margin: 22px 0 17px 0;
  text-align: center;
  text-transform: uppercase;

  @include text(14px, 26px, $black, 400);

  @media (min-width: $tablet-width) {
    margin: 22px 0 43px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 22px 0 32px 0;
  }
}

.reasons__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $mobile-only-width) {
    margin: 0 0 -1px 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
}

.reasons__item {
  &--type-2 {
    background-color: rgba(238, 238, 238, 1);
  }

  &--subgrid {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: auto;
    }
  }

  &--grid-element-1 {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 20px;
    }
  }

  &--grid-element-2 {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }
}

.reasons__container {
  color: $white;
  background-color: rgba(129, 179, 210, 1);
  min-height: 191px;
  padding: 39px 20px 10px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 40px 20px 10px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 20px 10px 20px;
  }

  &--first {
    @media (max-width: $mobile-only-width) {
      position: relative;
      min-height: 211px;
      padding: 55px 12px 0 12px;
      overflow: hidden;
      background-image: url("../img/triangle.svg");
      background-repeat: no-repeat;
      background-position: 50% -16px;
      background-size: 100% 37px;
    }

    @media (min-width: $tablet-width) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &--second {
    @media (min-width: $tablet-width) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      padding: 44px 20px 10px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 20px 10px 20px;
    }
  }

  &--other {
    color: $black;
    background-color: rgba(238, 238, 238, 1);
    min-height: 161px;
    padding: 26px 12px 24px 12px;
    margin: 0 20px;

    @media (max-width: $mobile-only-width) {
      border-bottom: 1px solid rgba(214, 214, 214, 1);
    }

    @media (min-width: $tablet-width) {
      padding: 43px 20px 41px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 42px 20px 63px 20px;
    }
  }
}

.reasons__subtitle,
.reasons__number,
.reasons__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.reasons__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 12px 0;

  @media (max-width: $mobile-only-width) {
    & br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.reasons__number {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
  }
}

.reasons__text {
  font-size: 14px;
  line-height: 21px;

  & br {
    display: none;
  }

  @media (min-width: $desktop-width) {
    & br {
      display: inline-block;
    }
  }

  &--narrow {
    @media (min-width: $tablet-width) {
      padding: 0 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 30px;
    }
  }
}

.reasons__box {
  background-color: rgba(129, 179, 210, 1);

  @media (min-width: $tablet-width) {
    &--column-1 {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }

    &--column-2 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }
}

.reasons__picture {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.reasons__conditions {
  &--row {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}
