.search {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 33px;
  margin: 0 0 28px 0;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    margin: 0;
  }
}

.search__container {
  margin: 0 20px 49px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto 58px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 64px auto;
  }
}

.search__text {
  margin: 0 0 21px 0;
  text-transform: uppercase;

  @include text(14px, 24px, $black, 400);

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 33px 0;

    & br {
      display: inline-block;
    }
  }

  &--large {
    @include text(21px, 26px, $black, 700);

    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }
}

.search__link {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 14.5px 10px 17.5px 10px;
  margin: 28px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 39px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 44px 0 0 0;
  }
}

.search__map {
  border: none;
  min-height: 350px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
