.button {
  text-align: center;
  background-color: rgba(129, 179, 210, 1);
  border: none;
  text-transform: uppercase;
  padding: 18.5px 10px 13.5px 10px;
  box-sizing: border-box;

  @include text(21px, 26px, $white, 700);

  &:hover,
  &:focus {
    background-color: rgba(102, 158, 192, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(84, 150, 189, 1);
  }

  &:disabled {
    background-color: rgba(229, 229, 229, 1);
  }
}
