.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 23px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px 36px 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 120px 23px 120px;
  }
}

.main-footer__tag {
  text-transform: uppercase;

  @include text(21px, 26px, $black, 700);
}

.main-footer__social {
  @media (max-width: $mobile-only-width) {
    margin: 30px 0 40px 0;
  }
}

.main-footer__developer {
  display: flex;
  align-items: center;
  margin: 0;
  text-transform: uppercase;

  @include text(14px, 26px, $black, 400);
}

.main-footer__logo {
  padding-left: 13px;
}
