.catalog-page__main {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog-page__title {
  margin: 32px 0 0 2px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 63px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 1px 0 0;
  }
}
