.modal-success {
  display: none;
  position: fixed;
  top: 40%;
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  width: 100%;
  box-sizing: border-box;
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: calc(100% - 128px);
    margin: 0 64px;
  }

  @media (min-width: $desktop-width) {
    right: calc(50vw - 360px);
    width: 640px;
  }

  &--opened {
    display: block;
  }
}

.modal-success__wrapper {
  text-align: center;
  padding: 37px 37px 16px 37px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 54px 99px 21px 99px;
  }

  &--button {
    background-color: rgba(242, 242, 242, 1);
    padding: 20px;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: center;
      padding: 44px;
    }
  }
}

.modal-success__title {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 27px 0;

  @include text(18px, 26px, $black, 700);

  @media (min-width: $tablet-width) {
    margin: 0 0 31px 0;

    @include text(30px, 26px, $black, 700);
  }
}

.modal-success__text {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 22px 0;

  @include text(14px, 24px, rgba(51, 51, 51, 1));
}

.modal-success__button {
  font-size: 18px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 458px;
  }
}
