.user-attractions {
  padding: 15px 0 0 0;

  @media (min-width: $desktop-width) {
    padding: 16px 0 0 0;
  }
}

.user-attractions__field {
  padding: 0;
  margin: 0;
  border: none;

  @media (max-width: $mobile-only-width) {
    margin: 0 20px;
  }

  @media (min-width: $tablet-width) {
    border-top: 1px solid rgba(219, 219, 219, 1);
  }
}

.user-attractions__legend {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 21px 0;
  text-align: center;

  @include text(18px, 26px, $black, 700);

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 0 44.5px 0;
    width: 400px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 1px 0 0;
    margin: 0 0 43.5px 0;
  }
}

.user-attractions__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.user-attractions__item {
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 31px;

    &:nth-of-type(odd) {
      margin: 0 0 32px 95px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-of-type {
      margin: 0 0 32px 0;
    }

    &:not(:first-of-type) {
      margin: 0 0 32px 38px;
    }
  }
}

.user-attractions__label {
  display: flex;
  align-items: center;

  @include text(18px, 26px, $black, 700);

  &:hover::after,
  &:focus::after {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active::after {
    background-color: rgba(213, 213, 213, 1);
  }

  @media (min-width: $desktop-width) {
    margin: 0 3px 0 0;
  }
}

.user-attractions__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: rgba(242, 242, 242, 1);
  margin: 0 23px 0 0;
  border-radius: 5px;

  @media (min-width: $desktop-width) {
    margin: 0 25px 0 0;
  }

  .user-attractions__label:hover &,
  .user-attractions__label:focus & {
    background-color: rgba(229, 229, 229, 1);
  }

  .user-attractions__label:focus & {
    background-color: rgba(213, 213, 213, 1);
  }
}

.user-attractions__tick {
  display: none;

  .user-attractions__button:checked + .user-attractions__label & {
    display: block;
  }

  .user-attractions__button:checked + .user-attractions__label:active & {
    opacity: 0.3;
  }
}
