@mixin text($size, $height, $color, $weight: 400) {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}
